{% extends 'base.html' %}

{% block title %}
  {{ board.name }} 
{% endblock %}
<!--- {{ block.super }}-->

{% block content %}
  </br>
  <table class="table">
    <tbody>
      <tr  class="text-white bg-info">
        <td>主题</td>
        <td>发起人</td>
        <td>回复数</td>
        <td>浏览数</td>
        <td>最后回复时间</td>
      </tr>
      {% for topic in topics %}
        <tr>
          <td><a href="{% url 'topic_posts' board.pk topic.pk %}">{{ topic.subject }}</a></td>
          <td>{{ topic.starter.name }}</td>
          <td>{{ topic.replies }}</td>
          <td>{{ topic.views }}</td>
          <td>{{ topic.last_updated }}</td>
          {% if topic.starter.name == request.session.user_name %}
          <td><a href="{% url 'delete_topic' board.pk topic.pk %}">删除</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="button-wrapper submit">
    <input type="button"  value="发起讨论"  onclick="location.href='{% url 'new_topic' board.pk %}'" />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button"  value="返回讨论区主页"  onclick="location.href='/boards/'" />
  </div>

  
{% endblock %}
