{% extends 'base2.html' %}

{% load static %}

{% block title %}{{ topic.subject }}{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_topics' topic.board.pk %}">{{ topic.board.name }}</a></li>
  <li class="breadcrumb-item active">{{ topic.subject }}</li>

{% endblock %}
{% block extracss %}
 <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/timeline.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
  <br/>
    <center><h2>主题：{{ topic.subject }}</h2></center>
  <div class="row">
    <div class="col-md-12 mt-5">
      <div class="main-timeline" id="timeline-2">
          <div class="timeline">
              <div class="timeline-content">
                  <span class="year">发布者：{{topic.starter.name}}</span>
                  <span class="post"></span>
                  <strong><h3>{{ topic.message }}</h3></strong>
              </div>
          </div>
          {% for post in topic.posts.all %}
          <div class="timeline">
              <div class="timeline-content">
                  <span class="year">用户：{{ post.created_by.name }}</span>
                  <span class="post"></span>
                  <strong><h3>{{ post.message }}</h3></strong>
                  <p class="description pull-left">{{ post.created_at }}</p>
                  {% if post.created_by.name == request.session.user_name %}
                    <a class="pull-right" href="{% url 'delete_post' topic.board.pk topic.pk post.pk%}">删除</a>
                  {% endif %}
              </div>
              
          </div>
          {% endfor %}
      </div>
      
  </div>

</div>

  <br/>
  <div class="button-wrapper submit">
    <input type="button" class="pull-right"  value="回复" onclick="location.href='{% url 'reply_topic' topic.board.pk topic.pk %}'"/>

    <input type="button" class="pull-left"  value="返回"  onclick="location.href='{% url 'board_topics' topic.board.pk %}'" />

</div>

</div>








{% endblock %}
