{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Added by Hu Xiao-->
<link rel="stylesheet" href="{% static 'front/css/main.css' %}" />
<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/main.css' %}" />
<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/gallery.css' %}"/>
<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/card.css' %}"/>
<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/bootstrap.min.css' %}"/>

<!-- Added by Zhou Haici -->
<link rel="stylesheet" href="{% static 'create/css/form-elements.css' %}"/>
<link rel="stylesheet" href="{% static 'create/css/style.css' %}"/>
<link rel="stylesheet" href="{% static 'create/css/button.css' %}"/>
{% block extracss %}{% endblock %}
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>{% block title %}base{% endblock %}</title>

<!-- Bootstrap -->
<link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% block css %}{% endblock %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" href="{% static 'front/css/main.css' %}" />
</head><body class="is-preload">
<header id="header"> <a class="logo" href="/index/">主页</a>
  <nav> {% if request.session.is_login %} <a href="/boards/">讨论区</a> <a href="/personal_center/">个人中心</a> <a href="#">当前在线：{{request.session.user_name}}</a> <a href="/logout/">登出</a> {% else %} <a href="/login/">登录</a> <a href="/register/">注册</a> {% endif %} </nav>
</header>
{% block content %}{% endblock %} 
	
<footer id="footer">
	</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="{% static 'js/jquery-3.2.1.js' %}"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script> 

<!-- Added by Jin Zehui --> 
<script src="{% static 'front/js/browser.min.js' %}"></script> 
<script src="{% static 'front/js/breakpoints.min.js' %}"></script> 
<script src="{% static 'front/js/util.min.js' %}"></script> 
<script src="{% static 'front/js/main.min.js' %}"></script>

</body>
</html>