{% extends 'base2.html' %}
 
{% block title %}布置作业{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'create/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'create/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'create/css/form-elements.css' %}"/>
    <link rel="stylesheet" href="{% static 'create/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'create/css/bbg.css' %}"/>
{% endblock %}
{% block content %}
<!--edited by Zhou Haici-->
<section class="hero-area">
  <div class="overlay"></div>
    <div class="container">

              <div class="col-sm-5 form-box">
                <div class="form-top">
                  <div class="form-top-left">
                    <h1>布置作业</h1>
                  </div>
                  <div class="form-top-right"> <i class="fa fa-book"></i> </div>
                </div>
                <div class="form-bottom" style="background-color: white">
                  <form class="form-assign" action="{% url 'new_homework' homework_course.pk %}"  method="post" enctype="multipart/form-data">
                    {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}
                    
                    {% csrf_token %}
                    
                      <div class="form-group"> {{ assign_form.name}} </div>
                      <div class="form-group"> {{ assign_form.deadline}} </div>
                      <div class="form-group"> {{ assign_form.content}} </div>
                      <!-- <div class="form-group"> {{ assign_form.myfile}} </div> -->
                      <div class="form-group" align="left">
                         {{ assign_form.myfile.label_tag }}
                         {{ assign_form.myfile}}
                      </div>
                      <button type="submit" class="button pull-right">布置</button>
                      <button class="button pull-left"  onclick="location.href='{% url 'homework_list'  homework_course.pk %}'">返回</button>
                      <br/>
                  </form>
                </div>
              </div>
    </div>         
</section>
{% endblock %}