{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}课程详情{% endblock %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/login.css' %}"/>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<br>
<br>
<div class=" card-cont">
  <div class="row" id="card-2">
    <div class="col-lg-3 col-sm-3"></div>
    <div class="col-lg-6 col-sm-6">
      <div class="card hovercard ">
        <div class="cardheader"></div>
        <div class="info">
          <div style = "color:lightslategray;font-size:30px;line-height:50px" class="title font-weight-bold">{{ course.course_name }}</div>
          <div style = "color:teal;font-size:18px;line-height: 30px;" class="font-weight-normal">{{ course.teacher_name }}</div>
        </div>
        <table class="table">
          <tbody>
            <tr  class="text-black table-light table-unborded">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong class="mr-5" ><i class="fa fa-clock-o">上课时间: </i></strong></td>
              <td> {{ course.course_time }} </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr  class="text-black table-light table-unborded">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong class="mr-5"><i class="fa fa-map-marker"> 上课地点: </i></strong></td>
              <td> {{ course.course_locus }} </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr  class="text-black table-light table-unborded">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong class="mr-5"><i class="fa fa-calendar"> 学分: </i></strong></td>
              <td> {{ course.course_credit }} </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr  class="text-black table-light table-unborded">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong class="mr-5"><i class="fa fa-archive"> 课程介绍: </i></strong></td>
              <td> {{ course.course_introduction }} </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <tr  class="text-black table-light table-unborded">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong class="mr-5"><i class="fa fa-map-marker"> 选课截止日期: </i></strong></td>
              <td> {{ course.course_deadline }} </td>
            </tr>
          </tbody>
        </table>
        {% if request.session.user_identity == 'teacher' %}
            {% for user in course.users.all %}
                {% if user.name == request.session.user_name %}
		 <h3 style = "font-weight:bold;font-family: Microsoft YaHei;color: black;" align="center">选课学生列表</h3>
        <table class="table">
          <tbody>
            <tr  class="text-black table-info">
              <td>学号</td>
              <td>姓名</td>
              <td>操作</td>
            </tr>
          {% for user in course.users.all %}
          <tr> {% if request.session.user_identity == 'teacher' %}
            
            {% if user.identity == 'student' %}
            <td>{{user.number}}</td>
            <td>{{user.name}}</td>
            <td><a href="{% url 'delete_student' course.pk user.pk %}">移除</a></td>
            {% endif %}
            
            {% endif %} </tr>
          {% endfor %}
            </tbody>
          
        </table>
                    {% endif %}
            {% endfor %}
        {% endif %}
      {% for user in course.users.all %}
        {% if user.name == request.session.user_name %}
        <div class="button-wrapper submit">
          <input type="button"  value="作业列表"  onclick="location.href='{% url 'homework_list' course.pk %}'" />
          {% if  request.session.user_identity == 'teacher'%}
          <input type="button"  value="编辑"  onclick="location.href='{% url 'course_update' course.pk %}'" />
          {% endif %}
        </div>
        {% endif %}
       {% endfor %}
		<!--<button type="submit" class="button button-glow button-border button-rounded button-primary"  onclick="location.href='{% url 'homework_list' course.pk %}'">作业列表</button>-->
        <br>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3"></div>
  </div>
</div>
<br/>
{% endblock %}