{% extends 'base2.html' %}
 
{% block title %}创建课程{% endblock %}
{% load static %}
{% block css %}

    <link rel="stylesheet" href="{% static 'create/css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'create/css/font-awesome.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'create/css/form-elements.css' %}"/>
    <link rel="stylesheet" href="{% static 'create/css/style.css' %}"/>
{% endblock %}
{% block content %} 

<div class="overlay"></div>
<!--edited by Zhou Haici-->
<section class="hero-area">
    


            <div class="col-sm-5 form-box">
              <br/><br/><br/><br/>
              <div class="form-top">
                <div class="form-top-left">
                  <h1>课程创建</h1>
                </div>
                <div class="form-top-right"> <i class="fa fa-pencil"></i> </div>
              </div>
              <div class="form-bottom" style="background-color: white">
                <form class="form-createcourse" action="/create_course/" method="post">
                  {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
                  {% endif %}

                  {% csrf_token %}
                  <div class="form-group">
                    <label class="sr-only" form="form-course-name"> 课程名称 </label>
                    {{ CreateCourse_form.course_name}} </div>

                  <div class="form-group">
                    <label class="sr-only" form="form-time"> 开课时间 </label>
                    {{ CreateCourse_form.course_time}} </div>
                  <div class="form-group">
                    <label class="sr-only" form="form-locus"> 开课地点 </label>
                    {{ CreateCourse_form.course_locus}} </div>
                  <div class="form-group">
                    <label class="sr-only" form="form-credit"> 学分 </label>
                    {{ CreateCourse_form.course_credit}} </div>
                  <div class="form-group">
                    <label class="sr-only" form="form-course-info"> 简介 </label>
                    <!--<textarea name="form-course-info" placeholder="简介..." 
    			                        				class="form-course-info form-control" id="form-course-info"></textarea>--> 
                    {{ CreateCourse_form.course_introduction}} </div>
                   <div class="form-group">
                    <label> 选课截止时间 </label>
                    {{ CreateCourse_form.course_deadline}} </div>
                   <button type="submit" class="button pull-left"  onclick="location.href='/index/'">返回</button>
                  <button type="submit" class="button pull-right">完成创建!</button>
                  <br/>
                </form>
              </div>
              <br/><br/>
            </div>

</section>
{% endblock %}