{#login/templates/login/index.html#}

{% extends 'base.html' %}
{% block title %}作业详情{% endblock %}
{% block content %}
</br></br>
<div class="page-content ">
        <div id="my-div-shell">
            <div id="my-div-center">
                <div class="col-md-12">

                    <!--***** BASIC FORM *****-->
                    <div class="card form" id="form1">
                        <div class="card-header">
                            <h3>{{ homework.name }}</h3>
                        </div>
                        <br>
                        <form>
                            <div class="row">
                                
                                
                                    <div class="col-md-6">
                                        
                                        <div class="form-group" >
                                            <h5>作业详情</h5>
                                            <p>{{ homework.content }}</p>
                                        </div>
                                        
                                    </div>

                            </div>

                            {% for submit in submit_list %}

                                {% if submit.homework.name == homework.name %}

                                    {% if submit.author.name == request.session.user_name %}
                                        <li><a href="{% url 'subcon' homework.course.pk homework.pk submit.pk%}">{{submit.submit_time}}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <button type="button" class="btn btn-general btn-blue mr-2" onclick="location.href='{% url 'homework_submit' homework.course.pk homework.pk %}'">提交作业</button> 
                        </form>
                    </div>



                </div>
            </div>
        </div>
    </div>


  
{% endblock %}