{#login/templates/login/index.html#}

{% extends 'base.html' %}
{% block title %}作业列表{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'create/css/bbg.css' %}"/>
{% endblock %}
{% block content %} <br>
</br>
<br>
</br>
<!--edited by Zhou Haici-->
<h3 class="title-w3 mb-5 text-center font-weight-bold">作 业 列 表</h3>
<tbody>
<div class="container py-xl-5 py-lg-3">
  <div class="row mt-4"> {% for homework in h_course.homework.all %}
    <tr>
      <td><div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
          <div class="card">
            <div class="card-header m-0">
              <h5 class="blog-title card-title m-0"> <a>{{ homework.name }}</a> </h5>
            </div>
            <div class="card-body">
              <p class="text-left"> homework content here </p>
              <a href="{% url 'homework_content' homework.course.pk homework.pk %}" class="service-btn mt-xl-5 mt-4 btn" href="#">提交<span class="fa fa-long-arrow-right ml-2"></span></a> </div>
            <div class="card-footer blog_w3icon border-top pt-2 mt-3 d-flex justify-content-between"> <small class="text-bl"> <b>By: teacher here</b> </small> <span> ddl here such as: March 20,2019 </span> </div>
          </div>
          <br>
          </br>
        </div></td>
    </tr>
    {% endfor %}
    <tr>
      <td><div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
          <div class="card">
            <div class="card-header m-0">
              <h5 class="blog-title card-title m-0"> <a>暂无更多作业</a> </h5>
            </div>
            <div class="card-body">
              <p class="text-left"> give students more joy now! </p>
              <a href="{% url 'new_homework' h_course.pk %}" class="service-btn mt-xl-5 mt-4 btn" href="#">发布新作业<span class="fa fa-long-arrow-right ml-2"></span></a> </div>
            <div class="card-footer blog_w3icon border-top pt-2 mt-3 d-flex justify-content-between"> <small class="text-bl"> <b>By: teacher here</b> </small> <span> ddl here such as: March 20,2019 </span> </div>
          </div>
          <br>
          </br>
        </div></td>
    </tr>
  </div>
</div>
</tbody>
{% endblock %}