{#login/templates/login/index.html#}

{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}主页{% endblock %}
{% block content %}
    {% if request.session.is_login %} 
<!-- Added by Hu Xiao-->
<div class = "overlay"></div>
<section class="wrapper" >
  <div class="inner">
    <header class="special">
      <h1 style = "color: white" class = "font-weight-bold">{{ request.session.user_name }}
        {% if request.session.user_identity == 'teacher' %}
        老师
        {% elif request.session.user_identity == 'student' %}
        同学
        {% endif %}您好&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欢迎使用本系统 </h1>
      <br>
      <br>
    </header>
    <div class = "container" style = "background-color:aliceblue">
		<br>
      <h2 style = "font-weight:bold;font-family: Microsoft YaHei;color:chocolate;" align="left"><i class="fa fa-book"></i> 课程列表</h2>
		<br>
		
      <div class="highlights col-xs-10"> {% for line in course_list %}
          {% if request.session.user_identity == 'teacher' %}
           {% for user in line.users.all%}
               {% if user.name == request.session.user_name %}
        <section>
          <div class="box-4"> <a href="#"> <img src="{% static "img/jygc.png" %} "> </a>
            <div class="box-4-content">
              <h3 class="title">{{line.teacher_name}}</h3>
              <ul class="icon">
                <li title="课程讨论区"><a href="{% url 'board_topics' line.pk %}"><i class="fa fa-twitch"></i></a></li>
                <li title="课程详情"> <a href="{% url 'course' line.pk %}"><i class="fa fa-link"></i></a></li>
              </ul>
            </div>
            <center>
              <h3 >{{line.course_name}}</h3>
            </center>
          </div>
        </section>
               {% endif %}
               {% endfor %}
          {% endif %}
          {% if  request.session.user_identity == 'student'%}
              <section>
          <div class="box-4"> <a href="#"> <img src="{% static "img/jygc.png" %} "> </a>
            <div class="box-4-content">
              <h3 class="title">{{line.teacher_name}}</h3>
              <ul class="icon">
                  {% if time < line.course_deadline %}
                  <li title="选课"><a href="{% url 'choose_course' line.pk %}"><i class="fa fa-star"></i></a></li>
                  {% endif %}
                  {% for user in line.users.all%}
                    {% if user.name == request.session.user_name %}
                        <li title="课程讨论区"><a href="{% url 'board_topics' line.pk %}"><i class="fa fa-twitch"></i></a></li>
                     {% endif %}
                   {% endfor %}
                <li title="课程详情"> <a href="{% url 'course' line.pk %}"><i class="fa fa-link"></i></a></li>
              </ul>
            </div>
            <center>
              <h3 >{{line.course_name}}</h3>
            </center>
          </div>
        </section>
          {% endif %}
        {% endfor %}
        {% if request.session.user_identity == 'teacher' %}
        <section>
          <div class="box-4"> <a href="#" > <img src="{% static "img/add.png" %} "> </a>
            <div class="box-4-content">
              <h3 class="title">添加课程</h3>
              <ul class="icon">
                <li title="添加课程"><a href="/create_course/"><i class="fa fa-plus"></i></a></li>
              </ul>
            </div>
            <center>
              <h3 >【添加课程】</h3>
            </center>
          </div>
        </section>
        {% endif %} </div>
    </div>
  </div>
</section>
{% else %} <br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h1 class="mark">你尚未登录，只能访问公开内容！</h1>
{% endif %}
{% endblock %}