{#login/templates/login/index.html#}

{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block content %}
    {% if request.session.is_login %}
    <h1>你好,{{ request.session.user_name }}！欢迎回来！</h1>
        <li><a href="/create_course/">创建课程</a></li>
    <!-- Added by Jin Zehui-->
    <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Courses</th>
      </tr>
    </thead>
    <tbody>
      {% for course in course_list %}
        <tr>
          <td>
            <a href="{% url 'course' course.pk %}">{{ course.course_name }}</a>
               <li><a href="{% url 'choose_course' course.pk %}">选课</a></li>
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>


    {% else %}
    <h1>你尚未登录，只能访问公开内容！</h1>
    {% endif %}
{% endblock %}