
{% extends 'base2.html' %}
{% load staticfiles %}
{% block title %}登录{% endblock %}
{% block css %}<link href="{% static 'css/login.css' %}" rel="stylesheet"/>{% endblock %}

<!--MODIFIED BY HU XIAO-->
{% block content %}
<section class="hero-area">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 ">
                <div class="contact-h-cont">
                  <form class='form-login' action="/login/" method="post">
                    {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}
                    {% csrf_token %}

                    <h2 class="text-center">欢迎登录</h2>

                    {{ login_form }}
                    <br/>
                     <button type="reset" class="btn btn-general btn-blue pull-left">重置</button>
                    <button type="submit" class="btn btn-general btn-blue pull-right">登陆</button>
                    <br/><br/>
                 </form>
                </div>
            </div>
          </div>  
        </div>
</section>

{% endblock %}