{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}个人中心{% endblock %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/login.css' %}"/>
{% endblock %}
{% block content %}
<!--modified by Hu Xiao-->

<div class="overlay"></div>
 <div class=" card-cont">   
  <div class="row" id="card-2">
      <div class="col-lg-3 col-sm-3"></div>
      <div class="col-lg-6 col-sm-6">
        <div class="card hovercard ">
          <div class="cardheader"></div>
          <div class="avatar"><img src="{% static "img/lucky.jpg" %} " alt="..." class="img-fluid rounded-circle" style="height:100px;width:100px;"></div>
          <div class="info">
            <div class="title">{{ user.name }}</div>
            <div class="desc">{{ user.email }}</div>

          </div>
            <table class="table">
              <tbody>
                <tr  class="text-black table-light table-unborded">
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td>  
                  <td></td> 
                  <td></td>
                  <td></td> 
                  <td> 
                    <strong class="mr-5" ><i class="fa fa-user-o"> 学号: </i></strong>
                  </td>
                  <td>
                    {{ user.number }}
                  </td>
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td>  
                  <td></td> 
                  <td></td>
                  <td></td>
                  <td></td>  
                </tr>

                <tr  class="text-black table-light">
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td>
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td>  
                  <td></td> 
                  <td></td> 
                  <td>
                    <strong class="mr-5"><i class="fa fa-phone"> 电话: </i></strong>
                  </td>
                  <td>
                    {{ user.tel }}
                  </td>
                  <td></td> 
                  <td></td>
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td>  
                  <td></td> 
                  <td></td>
                  <td></td> 
                  <td></td> 
                  <td></td> 
                </tr>

                <tr  class="text-black table-light">
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td>  
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td>
                  <td>
                    <strong class="mr-5"><i class="fa fa-envelope"> 邮箱: </i></strong>
                  </td>
                  <td>
                    {{ user.email }}
                  </td>
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td>  
                  <td></td> 
                  <td></td>
                </tr>

                <tr  class="text-black table-light">
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td>
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td>  
                  <td>
                    <strong class="mr-5"><i class="fa fa-map-marker"> 住址: </i></strong>
                  </td>
                  <td>
                    {{ user.addr }}
                  </td>
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td> 
                  <td></td>  
                  <td></td> 
                  <td></td>
                </tr>
               
              </tbody>
            </table>

            {% if request.session.user_identity == 'student' %}
              <h3 style = "font-weight:bold;font-family: Microsoft YaHei;color: black;" align="center"><i class="fa fa-stack-overflow"> 已选课程: </i></h3>
            {% endif %}
            {% if request.session.user_identity == 'teacher' %}
              <h3 style = "font-weight:bold;font-family: Microsoft YaHei;color: black;" align="center"><i class="fa fa-stack-overflow"> 教授课程: </i></h3>
            {% endif %}
            
            <table class="table">
              <tbody>
                <tr  class="text-black table-info">
                  <td>课程</td>
                  <td>操作</td>
                  <td></td>
                </tr>

                {% for course in user.courses.all %}
                        <tr  class="text-black table-light">
                         {% if request.session.user_identity == 'student' %}
                          <td><a href="{% url 'course' course.pk %}">{{ course.course_name }}</a></td>
                          <td><a href="{% url 'drop_course' course.pk user.pk %}">退课</a></td>
                         {% endif %}
                         {% if request.session.user_identity == 'teacher' %}
                          <td><a href="{% url 'course' course.pk %}">{{ course.course_name }}</a></td>                      <td><a href="{% url 'delete_course' course.pk user.pk%}">删除课程</a></td>
                         {% endif %}
                         <td></td>
                      </tr>
                   {% endfor %}

              
                </tbody>
              
            </table>
                 
             <div class="button-wrapper submit">
                <input type="button"  value="编辑"  onclick="location.href='/update/'" />
            </div>
            <br/>
                 
        </div>
      </div>
      <div class="col-lg-3 col-sm-3"></div>
    </div>
   </div>
{% endblock %}

