{#login/templates/login/index.html#}

{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}提交详情{% endblock %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/login.css' %}"/>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="page-content ">
        <div id="my-div-shell">
            <div id="my-div-center">
                <div class="col-md-12">

                    <!--***** BASIC FORM *****-->
                    <div class="card form" id="form1">
                        <div class="card-header">
                            <h3>{{ homework.name }} 提交详情</h3>
                        </div>
                        <br>

                            <p>{{ sub.submit }}</p>

                        <table class="table">
                            <tbody>
                                <tr  class="text-black table-light">
                                    <td></td><td></td>
                                    <td><i class="fa fa-paperclip"></i>下载</td>
                                    <td><a href="{% url 'download' sub.myfile %}">{{ sub.myfile }}</a></td>
                                </tr>
                                <tr class="text-black table-light">
                                    <td></td><td></td>
                                    <td><i class="fa fa-clock-o"></i>提交时间</td>    
             						<td>{{sub.submit_time}}</td>
                                </tr>
                                <tr class="text-black table-light">
                                    <td></td><td></td>
                                    <td><i class="fa fa-calendar"></i>得分</td>
                                    <td>{{ sub.grade }}</td>
                                </tr>
                            </tbody>
                        </table>
                                    {% if request.session.user_identity == 'teacher' %}
                                        <form class='form-grade' action="{% url 'give_grade' sub.homework.course.pk sub.homework.pk sub.pk %}" method="post">
                                        {% if message %}
                                        <div class="alert alert-warning">{{ message }}</div>
                                        {% endif %}
                                            {% csrf_token %}
                                            <input type="text pull-left" name="grade">
                                            <input type="submit" value="打分">
                                        </form>
                                        {% endif %}
                                    {% if request.session.user_identity == 'assistant' %}
                                        {% if request.session.user_privilege_1 == '1' %}
                                        <form class='form-grade' action="{% url 'give_grade' sub.homework.course.pk sub.homework.pk sub.pk %}" method="post">
                                        {% if message %}
                                        <div class="alert alert-warning">{{ message }}</div>
                                        {% endif %}
                                            {% csrf_token %}
                                            <input type="text pull-left" name="grade">
                                            <input type="submit" value="打分">
                                        </form>
                                        {% endif %}
                                    {% endif %}

 						<div class="button-wrapper submit">
			                <input type="button"  value="返回"  onclick="location.href='{% url 'homework_content' sub.homework.course.pk sub.homework.pk %}'" />
			            </div>
                        <br/>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

  
{% endblock %}