{#login/templates/login/index.html#}

{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}提交详情{% endblock %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/login.css' %}"/>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="page-content ">
        <div id="my-div-shell">
            <div id="my-div-center">
                <div class="col-md-12">

                    <!--***** BASIC FORM *****-->
                    <div class="card form" id="form1">
                        <div class="card-header">
                            <h3>{{ homework.name }} 提交详情</h3>
                        </div>
                        <br>
                        <form>
                            <p>{{ sub.submit }}</p>
                            <p>{{ sub.myfile }}</p>
                            <br/>
     						<p>提交于： {{sub.submit_time}}</p>
     						<div class="button-wrapper submit">
				                <input type="button"  value="返回"  onclick="location.href='{% url 'homework_content' sub.homework.course.pk sub.homework.pk %}'" />
				            </div>
                        </form>
                        <br/>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

  
{% endblock %}