{#login/templates/login/index.html#}

{% extends 'base.html' %}
{% block title %}提交详情{% endblock %}
{% block content %}

<div class="page-content ">
        <div id="my-div-shell">
            <div id="my-div-center">
                <div class="col-md-12">

                    <!--***** BASIC FORM *****-->
                    <div class="card form" id="form1">
                        <div class="card-header">
                            <h3>{{ homework.name }} 提交详情</h3>
                        </div>
                        <br>
                        <form>
                            <p>{{ sub.submit }}</p>
                            <p>{{ sub.myfile }}</p>
                            <br/>
     						<p>提交于： {{sub.submit_time}}</p>
                            <button type="button" onclick="location.href='{% url 'homework_content' sub.homework.course.pk sub.homework.pk %}'"  class="btn btn-primary">返回</button>
                        </form>
                        <br/>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

  
{% endblock %}