{% extends 'base2.html' %}
{% block title %}修改个人信息{% endblock %}
{% block content %}
<!--<h2 class="text-center">Account Info</h2>
<ul>
    <li>Username: {{ user.name }} </li>

</ul>-->
<!--modified by Hu Xiao-->
<section class="hero-area">
     <div class="overlay"></div>
	 <div class="container">
	    <div class="row">
        <div class="col-md-12 ">
        <div class="contact-h-cont">
			   <center><h2>修改个人资料</h2></center>
			   <form  method="post" action="" enctype="multipart/form-data">
			      {% csrf_token %}
			      {% for field in form %}
			           <div class="form-group text-left">
			        {{ field.errors }}
			        {{ field.label_tag }} {{ field }}
			        {% if field.help_text %}
			             <p class="help">{{ field.help_text|safe }}</p>
			        {% endif %}
			           </div>
			        {% endfor %}
			      <div class="button-wrapper submit pull-left">
                      <input type="button"  value="返回"  onclick="location.href='/personal_center/'" />
                  </div>
			      <div class="button-wrapper submit pull-right">
			         <input type="submit" value="保存" />
			      </div>
			      <br/> 
			   </form>
			</div>
		</div>
		</div>
		</div>
	</div>
</section>


{% endblock %}